<%- @question = question %> 
    <div data-question-id="<%= @question.id %>" class="form-cont" id="form-cont-<%= @question.id %>">
        
      <%= form_for(question) do |f| %>
        <%= render 'shared/error_messages', object: f.object %> 		
      <% end %>
        <%= field_set_tag do %>	
        	
        	<div class="row">
        		<div class="col-md-12 <%= I18n.locale %>">
        		  <span class="question-caption"><%= question.name %></span>
              <% if !question.from.blank? %>
                <span class="question-caption"><%= t('activerecord.attributes.question.from') %>:</span>
                <span class="question-caption"><%= question.from %></span>
		          <% end %>
              <span class="question-caption"> IP:</span>
              <span class="question-caption"><%= question.ip %></span>
        		</div>
        	</div>
        
        	
        	<div class="row">
        		<div class="col-md-6">
        		    
        		    <%= form_for(question, remote: true, format: :json, html: {:class => "edit_question approve inline-block"}) do |f| %>
    				    <%= f.check_box :approved , class: "hidden approve" %>
    				    
            		  	<% if question.approved?%>
    			      	    <button class="btn btn-info btn-xs approve approved" type="submit"><%= t('questions.monitor.unapprove') %></button>
                        <% else %>
    			      	    <button class="btn btn-primary btn-xs approve" type="submit"><%= t('questions.monitor.approve') %></button>
            		  	<% end %>
        		  	
    			  	<% end %>
    			 
    			  	
    			  	
        			<%= link_to t(:delete), question_path(@question), remote: true, method: :delete, class: "btn btn-danger btn-xs", 
        			        data: { confirm: t(:confirm) } %>
			        
    			  	<button data-question-id="<%= @question.id %>" type="button" class="btn btn-info btn-xs edit"><%= t('edit') %></button>
    			  	<button class="hide btn btn-primary btn-xs save" type="submit"><%= t('save') %></button>
    			  	<button class="hide btn btn-primary btn-xs cancel" type="button"><%= t('cancel') %></button>
        		</div>
        		<div align="right" class="col-md-3">
    			  	<div class="inline-block flash-info-cont flash-info"></div>
        		</div>
        		<div align="right" class="col-md-3">
    			  	<button class="btn btn-danger btn-xs ban" type="button"><%= t('questions.monitor.ban') %></button>
    			  	 
        		    <%= form_for(question, remote: true, format: :json, html: {:class => "edit_question_select inline-block"}) do |f| %>
    				    <%= f.check_box :selected , class: "hidden selected" %>
    				    
            		  	<% if question.selected?%>
    			      	    <button class="btn btn-info btn-xs select selected" type="submit"><%= t('questions.monitor.unselect') %></button>
                        <% else %>
    			      	    <button class="btn btn-primary btn-xs select" type="submit"><%= t('questions.monitor.select') %></button>
            		  	<% end %>
        		  	
    			  	<% end %>
        		</div>
        	</div>
        	
        	<div class="row">
        		<div class="col-md-12">
        			<div dir="auto" class="original-question"><%= question.question %></div>
        		</div>
        	</div>
        
        	<div class="row">
        		<div class="col-md-12">
        		  <div dir="auto" class="org-translation <%= question.get_trans_hide_show_class() %>"><%= question.translation %></div>
        		</div>
        	</div>
        	
        	<div class="row">
        		<div class="col-md-12">
        		  <%= form_for(question, remote: true, format: :json, html: {:class => "edit_question form-translation rtl"}) do |f| %>
        		      <%= f.text_area :translation, class:"hide form-control question-translation #{Question.get_trgt_trans_dir()}", 
        		      rows: "3", id: "translation-#{question.id}"  %>
        		  <% end %>				
        		</div>
        	</div>
        	
        <% end %>
     
    </div>