<% provide(:title, "Moderator Monitor") %>

<div id="moderator-monitor" class="moderator-monitor row">
  
  <div class="row">
    <div class="col-md-4">
      <select class="form-control medium-long-select" id="message-type">
        <option value="0"><%= t('select_message_to_send') %></option>
        <option value="morning_lesson_message"><%= t('morning_lesson_message') %></option>
        <option value="technical_problems_message"><%= t('technical_problems_message') %></option>
        <option value="yeshivat_haverim_message"><%= t('yeshivat_haverim_message') %></option>
      </select>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button id="btn-delete-all" type="button" class="btn btn-xs btn-danger"><%= t('delete_all') %></button>
    </div>
  </div>
  
  <div class="row">
    <div id="unselected-questions-cont" class="questions-cont unselected col-md-6">
      <%- @questions.each do |question| %>
      	<%= render partial: "moderator_question_form", 
    		  locals: {question: question} %>
      <%- end %>
    </div>
  
  
  
    <div id="selected-questions-cont" class="questions-cont selected col-md-6">
      <%- @selected_questions.each do |question| %>
      
      	<%= render partial: "moderator_question_form", 
    		  locals: {question: question} %>
    		  
      <%- end %>
    </div>
  </div>
</div>

<div class="moderator-messages-cont" id="moderator-messages-cont"></div>

<%= render(:partial => 'moderator_monitor.js', :formats => [:js] ) %>

